.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.modal {
    background-color: rgba(230, 224, 219, 0.73)
}

.modal-body {
    background-color: rgba(50, 116, 164, 0.6);
}

body {
    background-image: url('../../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

span {
    cursor: pointer;
}

.table.table-bordered {
    background-color: rgba(230, 224, 219, 0.73)
}

table {
    width: 100%;
}

thead, tbody, tr, td, th {
    display: block;
}

tr:after {
    content: '     ';
    display: grid;
    clear: both;
}

thead th {
    height: auto;
    width: auto;

}


tbody td, thead th {
    width: 20%;
    float: left;
}

tbody tr {
width: auto;
}

.btnMore {
    margin: 0 auto;
}

.glyphicon-active {
    color: #3274a4;
    pointer-events: none;
}

.main-content {
    width: 100%;
    height: auto;
}

.controll-btns {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;

    text-align: center
}

.table-footer {
    background-color: rgba(230, 224, 219, 0.73);
    height: 60px;
}

.header {
    background-color: rgba(230, 224, 219, 0.73);
    height: 113px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}




